body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient( 180deg, #F8FDFF, #EAF9FF );
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
